@font-face { font-family: Fontin; src: url('fonts/Fontin_Sans_R_45b.otf'); }
@font-face { font-family: Tallys; src: url('fonts/Tallys_15.otf'); }


* { margin:0px; padding:0px; border:0px; color: #555555; text-decoration:none; }
body{
    background: #1c1817 url(images/bg4.jpg) repeat;
}

#wrapper {
    width:900px;
    margin:0px auto;
}

#header { 
    text-align:center; 
    padding-bottom:70px;
    padding-top:10px;
    background: url(images/things.png) bottom center no-repeat; 
}

#content { 
    margin:0px auto; 
    overflow:auto; 
    margin-top:30px; 
    padding-left:10px;
}

#col1, #col2 { border-right:1px dashed #aaa; }

#col1, #col2, #col3 {
    display:block;
    float:left;
    width:290px;
    padding:0px;
}

#col2 { left:-300px; }
#col3 { left:-600px; }

#content div h4 { 
    font-family: Gill Sans; 
    margin-top:10px; 
    font-size: 125%;
    padding:0px 10px 0px 10px; 
}

#content div p { 
    font-family: Verdana;
    font-size: 66%; 
    overflow:auto; 
    padding-bottom:5px; 
    margin:0px 10px 10px 10px; 
    border-bottom:1px solid #ddd; 
    display:block;
}
#content div p img { 
    margin:10px; 
    border:4px solid white; 
    -webkit-box-shadow:0px 0px 8px #888888; 
    -moz-box-shadow:0px 0px 8px #888888; 
}

#footer {
    text-align: center;
    color:#888;
    bottom:0px;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: monospace;
    font-size: 100%; 

}